{% extends "base.html" %}

{% block title %}Home - WSP Check-in Tracker{% endblock %}

{% block content %}
<style>
.btn-primary {
    background-color: #f8423a;
    border-color: #f8423a;
}

.btn-primary:hover {
    background-color: #a8002d;
}

</style>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">WSP Check-in Tracker</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Select a site to begin your check-in process.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% for code, name in sites.items() %}
                <a href="/scan?site={{ code }}" class="btn btn-primary btn-lg px-4 gap-3" background="#f8423a" border-color="#f8423a">Scan ({{ name }})</a>
            {% endfor %}
        </div>
        <hr class="my-4">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/admin" class="btn btn-primary btn-lg px-4 gap-3" background="#f8423a" border-color="#f8423a">Admin Area</a>
        </div>
    </div>
</div>
{% endblock %}