{% extends "base.html" %}

{% block title %}Home - Greensboro Check-in{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Greensboro Check-in</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Select a site to begin your check-in process.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% for code, name in sites.items() %}
                <a href="/scan?site={{ code }}" class="btn btn-primary btn-lg px-4 gap-3">Scan ({{ name }})</a>
            {% endfor %}
        </div>
         <hr class="my-4">
         <p><a href="/admin">Admin Area</a></p>
    </div>
</div>
{% endblock %}